@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&family=Cinzel:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles (to be able to change colors easily) */
/* :root { */
  /* --white: #ffffff;
  --bg: #f6f7f9;
  --surface: #ffffff;
  /* --muted: #6b7280; */
  /* --accent: #2bb673; */
  /* verde secundario */
  /* --green: #16a34a; */
  /* verde principal */
  /* --gray-100: #f3f4f6; */
  /* --gray-300: #d1d5db; */
  /* --red: #ef4444; */ 


  /* typography */
  /* --font-family: "Inter", "Helvetica Neue", Arial, sans-serif; */
  /* --font-size-base: 14px; */
  /* --radius: 10px; */

  /* spacing */
  /* --container-width: 1120px; */
/* } */

:root {
  /* Light mode */
  --white: #f2d4dc;
  --bg: #f5e1e0;  
  --letras: #000000;            
  --tarjeta: #eec3ec; 
  --btn1: #94588a;       
  --btn2: #7d508f; 
  --header: #e5b7cf ;
  --border:#ad7bb0;
  --red: #f96262;
  --green:  #83ef7f;
 
}

/* Dark Mode */
body.dark-mode {
  --white: #bd9496;
  --bg: #a78fa5;  
  --letras: #000000;            
  --tarjeta: #d0a5d1; 
  --btn1: #ba8dae;       
  --btn2: #765f7f; 
  --header: #92697e ;
  --border:#513852;
  --red: #c24c4c;
  --green:  #62b75f;

  --shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}


html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family:'Nunito' ;
  background: var(--bg);
  color: #0f172a;
  font-size: 14px;
}

