@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&family=Cinzel:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root {
  /* modo claro */
  --white: #D9FFF8;
  --bg: #d7e7e5;  
  --letras: #000000;            
  --tarjeta: #C7FFDA; 
  --btn1: #9ad1c7;       
  --btn2: #83d288; 
  --header: #C4F4C7;
  --border:#3fa29d;
  --red: #f96262;
  --green:  #83ef7f;
  --footer:  #c3d7d5;

 
}

/* modo oscuro */
body.dark-mode {
  --white: #71a59c;      
  --bg: #a4b1b0;         
  --letras: #000000;      
  --tarjeta: #72a483;   
  --btn1: #628e86;       
  --btn2: #427747;        
  --header: #59885c;    
  --border: #1d4846;  
  --red: #c24c4c;
  --green:  #62b75f;
  --footer:  #92a3a2;

  --shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}


html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family:'Nunito' ;
  background: var(--bg);
  color: #0f172a;
  font-size: 14px;
}

