

.cositos-arriba{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.date-arrows{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}


.date-arrows button{
    background-color: #d7e7e5;
    border: none;
}

.list-timetable{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;
    margin: 30px 150px;
}

.botoncito{
    padding: 20px 30px;
    border-radius: 15px;
    cursor: pointer;
    color: #1a1c1c;
}

.admin-container p {
    margin-bottom: 10px;
    font-size: 20px;
}

#button-container{
    display: flex;
    gap: 30px;
    justify-content:center;
    margin-bottom:15px

}

#button-container button{
    padding: 8px 12px;
    border-radius: 20px;
}

#verdecito{
    background-color: var(--green);
}

#rojito{
    background-color: var(--red);
}