.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 20px;
  background: linear-gradient(90deg, var(--white), var(--header));
  border-bottom: 1px solid var(--border);
}

.logo {
  display: flex;
  align-items: center;
}

.linklogo img {
  height: 60px;
  object-fit: cover;
  border-radius: 20px;
}

.divInicio {
  margin-left: 15px;
  flex-grow: 1; 
}

.divInicio p {
  font-size: 30px;
  font-weight: bold;
  color: var(--letras);
  margin: 0;
}

.topbar > *:last-child {
  margin-left: auto;
  display: flex;
  align-items: center;
}
